body {
	background-color: tomato;
}

h1, h2 {
	color: white;
	border-style: dashed;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h3 {
	color: cornflowerblue;
	text-align: right;
}

h4 {
	border:5px solid tomato;
	padding: 10px
}

p {
	background-color: lightcyan;
	border-style: dotted solid double dashed;
	border-width: 3px;
	border-color: slategrey;
	border-radius: 8px;
	color: dimgrey;
	text-align: justify;
	font-family: courier;
	outline: thick ridge pink;
}

/* for the table */
table {
	width:100%;
	border:1px solid black;
	background-color: coral;
}


/* for the id "cs" */
#cs {
	text-align: right;
	color: lemonchiffon;
}

/* for the id "tv" */
#tv {
	background-color: aliceblue;
    color: chocolate;
    padding: 10px;
}